body, html {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  background-image: url('/images/image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  padding-bottom: 100px;
  padding-left: 50px; /* Adjust as needed */
   /* Adjust as needed */
   color: white;
}

.labels-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust as needed */
}

.pokemon-image {
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
}
.label{
  /* font-size: 20px; Adjust as needed */
  /* font-weight: bold; */
  color: white;
  /* background-color: rgb(230, 224, 217); Adjust as needed */
}